@mixin large-button() {
  margin-top: 20px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

body {
  @include linear-gradient(#fff, #FFF5CD);
}

#application {
  header, footer {
    @include linear-gradient(#2e2e2e, #000000);
    text-align: center;
    font-size: 1.5em;
    color: white;
    padding-top: 5px;
  }

  header {
    .ui-button {
      @include position(absolute, 6px 0 0 6px);
      @include button(simple, #444);
    }
  }
}

#pd-main > div {
  padding: 10px;
  //@include linear-gradient(#fff, #FFF5CD);
  @include radial-gradient(50% 50%, circle cover, #fff, #FFF5CD);
}

.pd-button {
  @include button(simple, #f9f9f9);
  @include border-radius(10px);
  @include large-button();
}

@mixin large-textfield() {
  display: block;
  width: 100%;
  font-size: 1.5em;
  padding: 7px;
  outline: none;
  border: none;
}


.ui-text-field {
  @include large-textfield();
  @include border-radius(0px);
  border-bottom: 1px solid #ccc;
  &:first-of-type {
    @include border-top-radius(10px);
  }
  &:last-of-type {
    @include border-bottom-radius(10px);
    border-bottom: none;
  }
}
