@mixin large-button() {
  margin-top: 20px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  @include linear-gradient(#fff, #edeeee);
  overflow: hidden;
  height: 100%;
}

#splash, #panda-application {
  h1 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
  }
  height: 100%;
}

#splash {
  text-align: center;
  font-family: Arial;
  color: #444;
  img {
    height: 60%;
  }
}

#panda-application {
  header, footer {
    @include linear-gradient(#2e2e2e, #000000);
    text-align: center;
    color: white;
    h1 {
      margin: 0;
      font-size: 1.5em;
    }
  }

  footer {
    height: 23px;
    padding: 8px;
    li {
      @include button(simple, #1e1e1e);
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }
}

#panda-application > div {
  padding: 10px;
  @include radial-gradient(50% 50%, circle cover, #fff, #FFF5CD);
  height: 200px;
}

.panda-new .ember-button {
  @include button(simple, #f9f9f9);
  @include border-radius(10px);
  @include large-button();
  box-sizing: border-box;
  text-align: center;
  a {
    color: #444;
    text-decoration: none;
  }
}

@mixin large-textfield() {
  display: block;
  width: 100%;
  font-size: 1.5em;
  padding: 7px;
  outline: none;
  border: none;
}


.ember-text-field {
  @include large-textfield();
  @include border-radius(0px);
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  &:first-of-type {
    @include border-top-radius(10px);
  }
  &:last-of-type {
    @include border-bottom-radius(10px);
    border-bottom: none;
  }
}
