<div class="content" data-role="content" data-theme="e">  
  <p>Bienvenue sur la WebApp pense-dette ! Beta-testeurs, Attention !!</p>
  <ol>
    <li> - Vous allez connecter votre compte facebook afin de recuperer vos contacts.</li>
    <li> - Vous pouvez visualiser l'etat de vos comptes avec vos proches.</li>
    <li> - Soumettre de futurs notes...</li>
  </ol>
</div>

