{{view PD.ToolbarView}}

<label>Somme due :</label>
{{view SC.TextField valueBinding="PD.NewTransaction.label"}}
<label>Sujet :</label>
{{view SC.TextField valueBinding="PD.NewTransaction.label"}}
<label>Recherche d'ami :</label>
{{view SC.TextField valueBinding="PD.NewTransaction.label"}}
{{#view SC.Button}}Ajouter{{/view}}
