<a href="#historic" data-transition="slide">
  <div class="cbImgContainer">
    <p class="cbName">{{content.label}}</p>
    <img class="cbImg" {{bindAttr src="content.avatar"}}/>
  </div>
  <div class="cbBarContainer">
    <pre><p class="cbBar"></p></pre>
  </div>
</a>
