<div data-role="page" id="accueil">

  <div data-role="header" data-position="fixed">
    <img src="<%= asset_path('pd/titre.png')%>" />
  </div>

  <div class="content" data-role="content">  
    <a href="#newOrder" data-transition="slide"><img src="<%= asset_path('pd/btn_envoyer-une-dette.png')%>" /></a>
    <br />
    <a href="#cashBoard" data-transition="slide"><img src="<%= asset_path('pd/btn_visualiser-mes-comptes.png')%>" /></a>
    <br />    
    <a href="#pending" data-transition="slide"><img src="<%= asset_path('pd/btn_reponse-en-attente.png')%>" /></a>
  </div>

  <div data-role="footer" class ="firstfooters" data-id="homefooter" data-position="fixed"></div>
</div>
