<div data-role="page" id="accueil" data-theme="e">
  <div data-role="header" data-position="fixed" data-theme="b">
    <h1>Accueil</h1>
    <a href="<%=destroy_user_session_path%>" data-method="DELETE" data-role="button" data-inline="true" data-icon="delete" data-theme="e" class="ui-btn-right">Deconnexion</a>
  </div>

  <div class="content" data-role="content" data-theme="e">  
    <a href="#newOrder" data-role="button" disabled="flase" data-icon="plus" data-direction="slide" data-theme="c">Envoyer une note</a>
    <a href="#cashBoard" data-role="button" disabled="true" data-icon="grid" data-direction="slide" data-theme="c">Visualiser le solde</a>
    <p>X Operations en cours : </p>
    <a href="#pending" data-role="button" disabled="true" data-icon="info" data-direction="slide" data-theme="c">Voir</a>
  </div>
</div>
