<div data-role="page" id="newOrder" data-theme="e">
  <div data-role="header" data-position="fixed" data-theme="b">
    <h1>Qui et Combien ?</h1>
  </div><!-- /header -->

  <div class="content" data-role="content" data-theme="e"> 
	  <div data-role="fieldcontain">
		  <fieldset data-role="controlgroup" data-type="horizontal">
			  <input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" checked="checked" />
				<label for="radio-choice-1">Je dois</label>

				<input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2"  />
				<label for="radio-choice-2">On me dois</label>
		  </fieldset>
	  </div>

	  <div data-role="fieldcontain">
      <label for="combien">Somme due :</label>
		  <input type="text" name="combien" id="combien" value=""  />
	  </div>

	  <div data-role="fieldcontain">
		  <label for="combien">Sujet :</label>
		  <input type="text" name="what" id="what" value=""  />
	  </div>
	
	  <div data-role="fieldcontain">		
		  <label for="who">Recherche d'ami :</label>
		  <input type="search" name="who" id="who" value="" />
	  </div>	
	
	  <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
		  <label for="select-choice-custom" placeholder=" " class="select ui-select">Categorie :</label>
			<div class="ui-select">
			  <select name="select-choice-1" id="select-choice-custom" data-native-menu="false" tabindex="-1">
					<option value="standard">Restauration</option>
					<option value="rush">Logement</option>
					<option value="express">Transport</option>
					<option value="overnight">Depenses</option>
				</select>
			</div>
		</div>

    <a href="#pending" id="validateOrder" data-role="button" data-inline="true" data-icon="check" data-iconpos="top" data-theme="b">Ajouter</a>

  </div>

	<div data-role="footer" data-id="homefooter" data-position="fixed" data-theme="b">
		<div data-role="navbar">
			<ul>
				<li><a href="#newOrder" class="ui-btn-active ui-state-persis" data-icon="plus" data-iconpos="top">Note</a></li>
				<li><a href="#cashBoard" data-icon="grid" data-iconpos="top">Solde</a></li>
				<li><a href="#pending" data-icon="info" data-iconpos="top">Attente</a></li>
			</ul>
		</div>
  </div>
</div>

