<div data-role="page" id="pending" data-theme="e">
  <div data-role="header" data-position="fixed" data-theme="b">
    <h1>En attente...</h1>
  </div>
  <div class="content" data-role="content" data-theme="e"> 
  <p>
    Je dois ... X ...
  </p>
  <p>
    Samir me doit ... Z ...
  </p>
  <p>
    Je dois ... Y ...
  </p>
  </div>
  <div data-role="footer" data-id="homefooter" data-position="fixed" data-theme="b">
    <div data-role="navbar">
      <ul>
        <li><a href="#newOrder" data-icon="plus" data-iconpos="top">Note</a></li>
        <li><a href="#cashBoard" data-icon="grid" data-iconpos="top">Solde</a></li>
        <li><a href="#pending" class="ui-btn-active ui-state-persis" data-icon="info" data-iconpos="top">Attente</a></li>
      </ul>
    </div>
  </div>
</div>
