<div data-role="page" id="cashBoard" data-theme="e">
  <div data-role="header" data-position="fixed" data-theme="b">
    <h1>Pense-dette</h1>
  </div><!-- /header -->

  <div class="content transactions-list" data-role="content" data-theme="c">
  </div>

  <div data-role="footer" data-id="homefooter" data-position="fixed" data-theme="b">
    <div data-role="navbar">
      <ul>
        <li><a href="#newOrder" data-icon="plus" data-iconpos="top">Note</a></li>
        <li><a href="#cashBoard" class="ui-btn-active ui-state-persis" data-icon="grid" data-iconpos="top">Solde</a></li>
        <li><a href="#pending" data-icon="info" data-iconpos="top">Attente</a></li>
      </ul>
    </div>
  </div>
</div>

