doctype html
html
  head
    title Pense Dette
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application" 
  body
    erb:
      <div data-role="page" id="accueil" data-theme="e">
        <div data-role="header" data-position="fixed" data-theme="b">
          <h1>Accueil</h1>
          <a href="<%=destroy_user_session_path%>" data-method="DELETE" data-role="button" data-inline="true" data-icon="delete" data-theme="e" class="ui-btn-right">Deconnexion</a>
        </div>

        <div class="content" data-role="content" data-theme="e">  
          <a href="#newOrder" data-role="button" disabled="flase" data-icon="plus" data-direction="slide" data-theme="c">Envoyer une note</a>
          <a href="#cashBoard" data-role="button" disabled="true" data-icon="grid" data-direction="slide" data-theme="c">Visualiser le solde</a>
          <p>X Operations en cours : </p>
          <a href="#pending" data-role="button" disabled="true" data-icon="info" data-direction="slide" data-theme="c">Voir</a>
        </div>
      </div>

      <div data-role="page" id="pending" data-theme="e">
        <div data-role="header" data-position="fixed" data-theme="b">
        <!-- <a href="#accueil" data-role="button" data-inline="true" data-icon="home" data-direction="reverse" data-theme="e">Accueil</a> -->
        <h1>En attente...</h1>
        <a href="#" data-role="button" data-inline="true" data-icon="delete" data-theme="e" class="ui-btn-right" onclick="">Deconnexion</a>
      </div>

      <div class="content" data-role="content" data-theme="e"> 
        <p>
          Je dois ... X ...
        </p>
        <p>
          Samir me doit ... Z ...
        </p>
        <p>
          Je dois ... Y ...
        </p>
      </div>
      <div data-role="footer" data-id="homefooter" data-position="fixed" data-theme="b">
        <div data-role="navbar">
          <ul>
            <li><a href="#newOrder" data-icon="plus" data-iconpos="top">Note</a></li>
            <li><a href="#cashBoard" data-icon="grid" data-iconpos="top">Solde</a></li>
            <li><a href="#pending" class="ui-btn-active ui-state-persis" data-icon="info" data-iconpos="top">Attente</a></li>
          </ul>
        </div>
      </div>


