header
  h1
    span Pense Dette
    =link_to 'Decconnection', destroy_user_session_path
handlebars:
  {{view elementId="accueil" classNames="page"
    templateName="app/accueil" isVisibleBinding="Dette.states.home"}}
  {{view elementId="new_transaction" classNames="page"
    templateName="app/new"  isVisibleBinding="Dette.states.new"}}
  {{view elementId="transactions" classNames="page"
    templateName="app/transactions"  isVisibleBinding="Dette.states.transactions"}}
