<!-- Start of first page: #splash -->

<div data-role="page" id="splash" data-theme="e">

    <div data-role="header" data-position="fixed" data-theme="b">
        <h1>Pense-dette</h1>
    </div>

    <div class="content" data-role="content" data-theme="e">  
		<p>Bienvenue sur la WebApp pense-dette ! Beta-testeurs, Attention !!</p>
		<ol>
      <li> - Vous allez connecter votre compte facebook afin de recuperer vos contacts. </li>
		  <li> - Vous pouvez visualiser l'etat de vos comptes avec vos proches. </li>
			<li> - Soumettre de futurs notes...</li>
		</ol>

		  <% resource_class.omniauth_providers.each do |provider| %>
			 <a href="<%= omniauth_authorize_path(resource_name, provider) %>" rel="external" data-transition="pop">
			   <img src="<%= asset_path "/design/img/fb-connect.png" %>" />
			 </a>
		  <% end %>
	</div>
		
</div>
