
/*	Resets
	------	*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

a {
	cursor : pointer;
	text-decoration : none !important;
	color : black !important;
}



/*	Typography presets
	------------------	*/

header h1, header h2{
	text-align:center;
	
}

header hr {
	width:80%;
	color:black;
	height:1px;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

h2 {
	text-align : center;
	margin : 20px 0 20px 0;
}


/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	margin-top:0;
	top:0px;
	margin-right:auto;
	margin-left:auto;
	width: 320px;
	padding: 50px 0 0 0;
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

#cbList, #cbList2, #accueil .content, #pending .content, #fbConnect .content, #splash .content {
	list-style : none;
	margin-right: auto;
	margin-left: auto;
	max-width: 320px;
	min-width: 280px;
}

#newOrder .content {
	margin-right: auto;
	margin-left: auto;
	max-width: 700px;
	min-width: 280px;
}

#validateOrder {
	margin: 5% 0 0 33%;
}

#splash .content a {
	margin: 5% 0 0 20%;
	display: block;
}

.cbListEntriesPlus, .cbListEntriesMinus{
	position : relative;
	height: 80px;
	border-bottom: 1px solid lightgray;
}

.cbBarContainer {
	position: relative;
	float: left;
	height: 100%;
	width: 75%;
}

.cbBar {
	position : absolute;
	width : 50px;
	height : 30px;
	border-radius: 0 15px 15px 0;
	border: 1px solid lightgrey;
	left: 0;
	top: 40%;
	color : black;
	font-weight: bold;
	font-family: Arial;
	padding: 5px 0 0 0;
}

.cbListEntriesMinus .cbBar {
	width: 20%;
	border-radius: 15px 0 0 15px;
	left: 80%;
	text-align: right;
	margin : 0 0 0 0;
}

.cbImgContainer {
	position: relative;
	float: left;
	height: 100%;
	width: 25%;
	background : lightgrey;
}

.cbImg {
	margin : 5% 0 5% 17%;
	border : none;
	height : 70%;
	border-radius : 10%;
}

.cbName {
	font-family : Arial serif;
	color : black;
	text-align : center;
	font-weight : normal !important;
	height : 20%;
}
 
div[data-role="header"] {
	background : #F48870;
}

div[data-role="page"] {
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#FFF5CD));
	background-image: -webkit-linear-gradient(top,#fff,#FFF5CD);
	background-image: -moz-linear-gradient(top,#fff,#FFF5CD);
	background-image: -ms-linear-gradient(top,#fff,#FFF5CD);
	background-image: -o-linear-gradient(top,#fff,#FFF5CD);
	background-image: linear-gradient(top,#fff,#FFF5CD);
}

div[data-role="content"] {

}

div[data-role="header"] img {
	margin: 0 0 -5px 25%;
	width: 50%;
	max-width: 200px;
}

div[data-role="footer"].firstfooters {
	background  : #F48870;
	height		: 50px;
}

div[data-id="homefooter"] a {
	background : #F48870;
}

div[data-id="homefooter"] a.activeLinks {
	background : #FAC6BA;
}

footer{
	float:right;
	width:100%;
	margin-top:30px;
	text-align:center;	
}