html {
  overflow: hidden;
}

body {
  margin-top:0;
  top:0px;
  margin:0;
  padding: 0;
  color: rgb(60,60,60);
  -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#FFF5CD));
  background-image: -webkit-linear-gradient(top,#fff,#FFF5CD);
  background-image: -moz-linear-gradient(top,#fff,#FFF5CD);
  background-image: -ms-linear-gradient(top,#fff,#FFF5CD);
  background-image: -o-linear-gradient(top,#fff,#FFF5CD);
  background-image: linear-gradient(top,#fff,#FFF5CD);
  background-repeat: no-repeat;
}

.flash p {
  margin:0;
  padding:0;
}

header {
  background: #f26c4f;
  padding-bottom: 5px;
}

// .content {
//   overflow: hidden;
//   bottom: 30px !important;
// }

.sc-scroll {
  overflow: hidden;
  position: relative;
  outline:1px solid red;
  .sc-scroll-content {
    outline:1px solid blue;
  }
  .sc-scroll-placeholder {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.4;
    background:red;
  }
}

h1, h4, p, .pd-switch button span {
  text-align: center;
  color:#fef7ce;
  //font-family: 'Days One', sans-serif;
  font-family: 'Changa One', sans-serif;
  text-shadow: 1px 1px 3px #888;
  padding:0;
  margin:0;
  line-height: normal;
}

.pd-switch label {
  padding-top: 6px;
  h4 {
    display: inline;
  }
}

.container {
  footer {
    background: #444;
    padding:4px;
    .sc-button {
      width:49%;
    }
  }
  ul {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    li {
      -webkit-box-sizing: border-box;
      display: block;
      width: 90%;
      margin: 15px;
      margin-right:auto;
      margin-left:auto;
    }
  }
  input {
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 37px;
    font-size:22px;
  }
  .sc-button {
    background-color: #f26c4f;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f26c4f), to(#F48870)); 
    background-image: -webkit-linear-gradient(top, #f26c4f, #F48870); 
    background-image:    -moz-linear-gradient(top, #f26c4f, #F48870); 
    background-image:     -ms-linear-gradient(top, #f26c4f, #F48870); 
    background-image:      -o-linear-gradient(top, #f26c4f, #F48870); 
    background-image:         linear-gradient(top, #f26c4f, #F48870);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f26c4f', EndColorStr='#F48870');
  }
}

.pd-switch {
  .sc-button {
    display: inline;
    &:first-child {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    &:last-child {
      border-left-width: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}

.pd-friend-finder {
  ul {
    li {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding:5px;
      margin:5px 0 5px 0;
      width: 100%;
    }
  }
}
