body {
  margin-top:0;
  top:0px;
  margin-right:auto;
  margin-left:auto;
  padding: 0 0 0 0;
  color: rgb(60,60,60);
  -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

.flash p {
  margin:0;
  padding:0;
}

header {
  background: #F48870;
  text-align:center;
  h1 {
    margin:0;
    padding:0;
  }
}

.content {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#FFF5CD));
  background-image: -webkit-linear-gradient(top,#fff,#FFF5CD);
  background-image: -moz-linear-gradient(top,#fff,#FFF5CD);
  background-image: -ms-linear-gradient(top,#fff,#FFF5CD);
  background-image: -o-linear-gradient(top,#fff,#FFF5CD);
  background-image: linear-gradient(top,#fff,#FFF5CD);
  height:100%;
}

.page {
  header {
    h1 {
      font-size:2em;
    }
  }
}

footer {
  background: #F48870;
}

/* clearfix */

@mixin clearfix {
  &:before, &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
  zoom:1;
}
