.scrollable {
    -webkit-transform: translate3d(0,0,0);
}

.scrollability-scrollbar {
  position: absolute;
  top: 0;
  right: 2px;
  width: 7px;
  height: 1px;
  z-index: 2147483647;  
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-box-sizing: border-box;
  -webkit-transform-origin: top left;
  //-webkit-border-image: url(scrollbar.png) 6 2 6 2 / 3px 1px 3px 1px round round;
  //background: url(scrollbar-mid.png) no-repeat;
}

body {
  margin-top:0;
  top:0px;
  margin-right:auto;
  margin-left:auto;
  padding: 0 0 0 0;
  color: rgb(60,60,60);
  -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

.flash p {
  margin:0;
  padding:0;
}

header {
  background: #F48870;
  text-align:center;
  h1 {
    margin:0;
    padding:0;
  }
}

.content {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#FFF5CD));
  background-image: -webkit-linear-gradient(top,#fff,#FFF5CD);
  background-image: -moz-linear-gradient(top,#fff,#FFF5CD);
  background-image: -ms-linear-gradient(top,#fff,#FFF5CD);
  background-image: -o-linear-gradient(top,#fff,#FFF5CD);
  background-image: linear-gradient(top,#fff,#FFF5CD);
}

.scrollable {
  display: inline-block;
  max-width: 1000px;
  overflow: hidden;
}

.clipper  {
  position: relative;
  display: inline-block;
  left: 0;
  white-space: nowrap;
}

.page {
  header {
    h1 {
      font-size:2em;
    }
  }

  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  white-space: normal;
  background-size: cover;

  footer {
    background: #F48870;
  }
}

/* clearfix */

@mixin clearfix {
  &:before, &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
  zoom:1;
}
